<div class="container" >
	<div class="row"  >
		<div class="col-lg-10">
			<div class="form-group">
	  			<label for="usr">Name:</label>
				 <input type="text" class="form-control" id="usr">
				</div>
			<div class="form-group">
				<label for="pwd">Password:</label>
				 <input type="password" class="form-control" id="pwd">
			</div>
				<button type="button" class="btn btn-primary">SignIn</button>
		</div>
	</div>
</div>
 <style type="text/css" >
  	.container{
	background-color: #3333;
	position: relative;
	top: 50px;
  	height: 70mm;
  	width: 10mm;
	}
	.row{
		position: relative;
		top: 20px;
		left: 50px;
	}
</style>